<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="/img/hadjaa.png" alt="Hadja Model" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Hadja Model</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/img/avatar.jpeg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Hamilton Silva</a>
      </div>
    </div>


   

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item ">
          <a href="/admin" class="nav-link <%- modeMenu == 'dashboard' ? 'active' : '' %>">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        
        <li class="nav-item <%- modeMenu.split('/')[0] == 'news' ? 'menu-open' : '' %>">
          <a href="#" class="nav-link <%- modeMenu.split('/')[0] == 'news' ? 'active' : '' %>">
            <span class="nav-icon fas fa-newspaper"></span>
            <p>
              Noticia
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/news/add" class="nav-link <%- modeMenu.split('/')[1] == 'add' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Escrever</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/news/list" class="nav-link <%- modeMenu.split('/')[1] == 'list' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
         
        </li>
       
        <li class="nav-item <%- modeMenu.split('/')[0] == 'models' ? 'menu-open' : '' %>">
          <a href="#" class="nav-link <%- modeMenu.split('/')[0] == 'models' ? 'active' : '' %>">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Modelos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/models/add" class="nav-link <%- modeMenu.split('/')[1] == 'add' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Adicionar</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/models/m" class="nav-link <%- modeMenu.split('/')[1] == 'm' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Homens</p>
              </a>
            </li>
          </ul>
          
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/models/f" class="nav-link <%- modeMenu.split('/')[1] == 'f' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Mulheres</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">Definições e permições</li>
        <li class="nav-item">
          <a href="/admin/user" class="nav-link <%- modeMenu == 'user' ? 'active' : '' %>">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Usuário
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>