<div id="page-wrapper">
  <header>
    <div class="yscott-header-navbar">
      <div class="container yscott-navbar-container">
        <div class="yscott-navigation-wrap bg-black yscott-start-header start-style">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <nav class="navbar navbar-expand-md navbar-light">
                  <!-- Logo -->
                  <a class="navbar-brand" href="/"> <img src="/img/logo.png" alt="Hadja models"> </a>
                  <!-- Menu -->
                  <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto py-4 py-md-0">
                      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4  <%- path == 'index' ? 'active' : '' %>">
                        <a class="nav-link" href="/">Home</a></li>
                      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4  <%- path == 'about' ? 'active' : '' %>">
                        <a class="nav-link" href="/about">Sobre nós</a></li>
                      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 <%- path == 'service' ? 'active' : '' %>">
                        <a class="nav-link" href="service">Serviços</a></li>
                      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 <%- path == 'modelos' ? 'active' : '' %>">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                          aria-haspopup="true" aria-expanded="false">Modelos <span
                            class="fas fa-angle-down"></span></a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/female">Femenino</a>
                          <a class="dropdown-item" href="/male">Masculino</a> </div>
                      </li>
                      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 <%- path == 'inscription' ? 'active' : '' %>">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                          aria-haspopup="true" aria-expanded="false">Inscrição <span
                            class="fas fa-angle-down"></span></a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/inscription">Seja um modelo</a>
                        </div>
                      </li>
                      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 <%- path == 'event' ? 'active' : '' %>">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                          aria-haspopup="true" aria-expanded="false">Eventos <span
                            class="fas fa-angle-down"></span></a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/any">Aniversário Hadja Models</a>
                          <a class="dropdown-item" href="/solidary">Moda Solidária</a>
                          <a class="dropdown-item" href="/mister">Mister Angola</a>
                          <a class="dropdown-item" href="/casting">Casting Anual</a>
                        </div>
                      </li>

                      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4  <%- path == 'blog' ? 'active' : '' %>">
                        <a class="nav-link" href="/blog">Blog</a></li>
                      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4"> <a class="nav-link"
                          href="/contact">Contactos</a> </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>