<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard Hadja - Cadastrar noticia</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
  <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="/img/hadjaa.png" alt="AdminLTELogo" height="60" width="60">
  </div>

    <!-- Navbar -->
    <%- include('../components/nav.ejs') %>
    <!-- /.navbar -->
    
    <!-- Theme style -->

  <!-- Main Sidebar Container -->
  <%- include('../components/leaftsidebar.ejs', modeMenu) %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Cadastrar noticia</h1>
          </div><!-- /.col -->
          <div class="row m-2">
          </div>
        </div><!-- /.row -->
        <form action="/admin/news/update" method="post">
          <div class=" mr-2 ml-2 mt-4">
            <div class="row "> 
             <div class="col-sm-6">
               <!-- text input -->
               <div class="form-group">
                 <label>Title</label>
                 <input type="text" name="title" class="form-control" placeholder="Titlo da noticia" value="<%- news.title %>">
               </div>
             </div>
             <div class="col-sm-6">
               <div class="form-group">
                 <label>Categoria</label>
                 <select class="form-control select2" name="category" style="width: 100%;">
                  <option selected="selected" value="<%- news.category %>"><%- news.category %></option>
                   <option value="Entretenimento">Entretenimento</option>
                   <option value="Moda">Moda</option>
                   <option value="Eventos">Eventos</option>

                 </select>
               </div>
             </div>
           </div>
          
          <div class="row">
            <div class="col-sm-12">
              <div class="card-body pr-0 pl-0">
                <textarea id="summernote" name="content">
                  <%- news.content %>
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
             <button type="submit" class="btn btn-block btn-dark btn-flat">Actualizar</button>
            </div>
          
          </div>
          </div>
         
        </form>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
       <div class="row">
         
       </div>
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

 

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright © 2022 <a href="http://www.unituenda.ao">uniTuenda</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>
</div>


<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/toastr/toastr.min.js"></script>
<script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/plugins/summernote/summernote-bs4.min.js"></script>
<script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
<script>
  $(function () {
    $('#summernote').summernote()

    bsCustomFileInput.init();
  });
  </script>
<%- include('../components/error.ejs', { error }) %>
</body>
</html>
